<a href="https://colab.research.google.com/github/Joao-edu/Exercicio_Facu/blob/main/Overview_of_Colaboratory_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# importar o repositorio do pandas.

import pandas as pd

In [ ]:
# Checar a versão da biblioteca. 
!pip show pandas

Name: pandas
Version: 1.1.5
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: None
Author-email: None
License: BSD
Location: /usr/local/lib/python3.7/dist-packages
Requires: numpy, python-dateutil, pytz
Required-by: xarray, vega-datasets, statsmodels, sklearn-pandas, seaborn, pymc3, plotnine, pandas-profiling, pandas-gbq, pandas-datareader, mlxtend, mizani, holoviews, gspread-dataframe, google-colab, fix-yahoo-finance, fbprophet, fastai, cufflinks, cmdstanpy, arviz, altair

In [4]:
# Carregar o aquivo pubDB.csv.
db = pd.read_csv('pubDB.csv')

In [6]:
# visualizar as colunas do arquivo carregado.
db.columns

Index(['total_bill', 'tip', 'dessert', 'day', 'time', 'size'], dtype='object')

In [8]:
# lê os valores da tabela  (( 20 ) o valor 20 seleciona as 20 primeiras linhas.
db.head (20)

    total_bill   tip dessert  day    time  size
0        16.99  1.01      No  Sun  Dinner     2
1        10.34  1.66      No  Sun  Dinner     3
2        21.01  3.50      No  Sun  Dinner     3
3        23.68  3.31      No  Sun  Dinner     2
4        24.59  3.61      No  Sun  Dinner     4
5        25.29  4.71      No  Sun  Dinner     4
6         8.77  2.00      No  Sun  Dinner     2
7        26.88  3.12      No  Sun  Dinner     4
8        15.04  1.96      No  Sun  Dinner     2
9        14.78  3.23      No  Sun  Dinner     2
10       10.27  1.71      No  Sun  Dinner     2
11       35.26  5.00      No  Sun  Dinner     4
12       15.42  1.57      No  Sun  Dinner     2
13       18.43  3.00      No  Sun  Dinner     4
14       14.83  3.02      No  Sun  Dinner     2
15       21.58  3.92      No  Sun  Dinner     2
16       10.33  1.67      No  Sun  Dinner     3
17       16.29  3.71      No  Sun  Dinner     3
18       16.97  3.50      No  Sun  Dinner     3
19       20.65  3.35      No  Sat  Dinner     3

In [9]:
db.columns

Index(['total_bill', 'tip', 'dessert', 'day', 'time', 'size'], dtype='object')

In [10]:
# Altera os nomes das colunas.
renomear = {'total_bill' : 'Conta', 
            'tip'        : 'Gorjeta', 
            'dessert'    : 'Sobremesa', 
            'day'        : 'Dia', 
            'time'       : 'Horario', 
            'size'       : 'Pessoas'}